.container {
    //max-width: 25em;

    .dropdown {
        background-color: white;
        border: none;
        border-radius: 0.85em;
        padding: 1em 1em 1em 1em;
        //width: 100%;

        .label{ 
            display: flex;
            justify-content: space-between;

            p {
                font-size: 1.35em;
                font-weight: 300;
            }

            .left {
                display: flex;
                padding-right: 2em;
                
                .logo {
                    padding: 0.2em 0.2em 0.2em 0.2em;
                }

                p {
                    margin-left: 1em;
                }
                
            }

            .right {
                display: flex;
                padding-left: 2em;

                p {
                    color: #958DB7;
                    margin-right: 1em;
                }

                .triangle {
                    margin-top: 0.85em;
                }

            }

            .triangle {
                content:"";
                width: 0;
                height: 0;
                border-left: 0.25em solid transparent;
                border-right: 0.25em solid transparent;
                border-top: 0.5em solid #958DB7;
                margin-top: 0.5em;
            }
        }
    }
}

