.menu {
    display: flex;
    flex-direction: column;
    
    .button {
        background-color: white;
        border: none;
        border-radius: 0.85em;
        width: 100%;
        padding: 1em 1em 1em 1em;
    }

    
}