.small-card {

    .prompt {
        display: flex;
        align-items: center;
        flex-direction: column;

        .install {
            text-align: center;
            font-size: 1em; 
            padding-top: 1em;
            padding-bottom: 1em;
        }

        .metamask-download {
            justify-content: center;
            width: 18em;
            
            
        }
    }
}