.main-card{
    margin: auto;
    max-width: 35em;
    background-color: #F5F5F8;
    border-radius: 2em;

    .card-buttons{
        display: flex;
        justify-content: space-between;
        
        .back{
            border-color: #958DB7;
        }

        .close {
            color: white;
            background-color: #181039;
            border-color: #958DB7;
        }

        p {
            border-style: solid;
            border-width: 0.05em;
            border-radius: 0.25em;
            padding: 0.45em 0.45em;
            margin: 2em 2em;
        }
    }
    
    .hero{
        text-align: center;
        margin: 0.15em 5em 2em 5em;

        .icon {
            margin-bottom: 1em;
        }

        .text {
            margin: 0.5em 0;
        }
    }

    .button {
        display: flex;
        justify-content: center;
        
        p {
            border-style: solid;
            border-width: 0.05em;
            border-radius: 0.40em;
            background-color: #5944EE;
            padding: 1em;
            color: white;
        }
    }

}