.small-card {
    padding-bottom: 20em;

    .header {
        text-align: center;
        font-size: 1.35em;
        font-weight: 500;
        padding: 0em 2em;
        margin-bottom: 0.75em;
    }

    .item {
        padding: 2em 2em;
        background-color: white;
    }
}