.main-card {
	max-width: 35em;
	margin: auto;

	a {
		text-decoration: inherit;
		color: inherit;
		cursor: pointer;
	}

	.card-header {
		text-align: center;

		p {
			color: #958DB7;
		}
	}

	.options-container {
		margin: 1.5em 0;
		
		.item {
			display: flex; 
			justify-content: flex-start;
			background-color: red;
			padding: 1em 2em;
			margin-bottom: 1.5em;
			border-radius: 0.5em;
			box-shadow: 2px 0 16px #EFEFEF;
			color: white;
			font-weight: 200;
			//box-shadow: 0px 0.2em 20px 0px grey;

			.logo {
				display: flex;
				align-items: center;
				margin-right: 3.5em;
			}

		}

		.metamask {
			background-color: #FF9C3F;
		}

		.ledger {
			background-color: #5460FF;
		}

		.trezor {
			background-color: #53B167;
		}

		.exchange {
			background-color: #2B2654;
			display: none;
		}
	}
}

