@mixin mobile {
	@media (max-device-width: 1200px) {
	  @content;
	}
  }

.main-card {
	max-width: 35em;
	margin: auto;

	a {
		text-decoration: inherit;
		color: inherit;
		cursor: pointer;
	}

	.card-header {
		text-align: center;
		padding-top: 1em;

		p {
			color: #958DB7;
			font-weight: 200; 
			font-size: 0.85em;
		}

		h1 {
			font-size: 1.25em; 
			font-weight: 600;
		}
	}

	.options-container {
		margin: 1.5em 0;
		
		.item {
			display: flex; 
			justify-content: flex-start;
			background-color: red;
			padding: 2em 2em;
			margin-bottom: 1.5em;
			border-radius: 0.85em;
			box-shadow: 2px 0 20px #EFEFEF;
			color: white;
			font-weight: 200;
			height: 33%;

			@include mobile {
				flex-direction: column;
			}
			

			.logo {
				display: flex;
				align-items: center;
				margin-right: 3.5em;

				@include mobile {
					padding-bottom: 0.75em;
				}

			}

			.text {
				
				h2 {
					font-size: 1em; 
					font-weight: 600;
				}

				p {
					font-size: 1em; 
					font-weight: 300; 
				}
			}

		}

		.metamask {
			background-image: linear-gradient(to bottom right,#FF9C3F, #F6D365);
		}

		.ledger {
			background-image: linear-gradient(to bottom right,#8894FC, #BC75FF);
			//padding: 1.5em 2em; 

		}

		.trezor {
			background-image: linear-gradient(to bottom right,#EC8C69, #ED6EA0);
			//padding: 1.5em 2em;
		}

		.exchange {
			background-color: #2B2654;
			display: none;
		}
	}


}

