@mixin mobile {
	@media (max-device-width: 450px) {
	  @content;
	}
  }

.small-card {
    
    .hero {
        display: flex;
        flex-direction: column;
        margin-top: 1em;

        .main-item {
            display: flex;
            background-color: white;
            border-radius: 0.85em;
            box-shadow: 2px 0 20px #EFEFEF;
            padding: 2em 1em 1em 1em;
            margin-bottom: 1.5em;

            .logo {
              margin-right: 7em;
              padding-left: 3em;

              @include mobile {
                  margin-right: 0em; 
                  padding: 0em 1em 0em 0.5em;

                  img {
                      @include mobile {
                        width: 2em; 
                      }
                  }
              }
            }

            span {
                color: #958DB7;
            }
        }

        .option {
            display: flex;
            //justify-content: space-between;
            padding-bottom: 0.5em;
            text-align: left;

            @include mobile {
                flex-direction: column;
                width: 100%;
            }

            .currency {
                display: flex;
                flex-direction: column;
                margin-right: 1em;
                width: 55%;

                @include mobile {
                    width: 100%;
                    padding-bottom: 1em;
                }

                .text {
                    color: #958DB7;
                    font-size: 0.85em;
                    font-weight: 400;
                    margin-bottom: 1em;
                }
            }

            .time {
                display: flex;
                flex-direction: column;
                width: 45%;

                @include mobile {
                    width: 100%;
                }

                .text {
                    color: #958DB7;
                    font-size: 0.85em;
                    font-weight: 400;
                    margin-bottom: 1em;
                }
            }

            .box {
              background-color: white;
              border-radius: 0.50em;
            }
        }

        .action {
            text-align: center;
            margin: 1em 0em 1em 0em;
            color: #958DB7;

            h2 {
                color: black;
                font-size: 1.50em;
                font-weight: 400;
                padding: 0.50em 0em; 
            }

            .text {
                margin: 0em;
            }
        }

        .item-address {
            display: flex;
            justify-content: space-between;
            background-color: white;
            border-radius: 0.85em;
            box-shadow: 2px 0 20px #EFEFEF;
            padding: 0.5em;

            .text-address {
                color: #958DB7;
                padding: 0.5em 1em 0.5em 1em;
                font-weight: 300;
                overflow: overlay;

            }

            .text-copy {
                color: white;
                background-color: black;
                border-radius: 0.5em;
                padding: 0.5em 1em;
            }
        }

        .balance {
            display: flex;
            justify-content: space-between;
            color: #958DB7;
            margin-bottom: 1em;
            padding-top: 0.85em;
            padding-bottom: 1em;

            .currency {
                color: black;
            }

        }

        .transaction {
            display: flex;
            justify-content: center;
            background-color: black;
            margin: 0 2em;
            border-radius: 0.5em;
            padding: 0.5em;

            p {
                color: white;
                font-weight: 700;
            }
        }
    }
}