@mixin mobile {
	@media (max-device-width: 450px) {
      @content;

	}
}

.main-content {
    align-items: center;
    text-align: center;
    margin: 0em 4em;
    padding: 0.5em;

    @include mobile {
        margin: 0em 2em;
    }

    .main-text {
        padding: 1em 0em;
        
        #message {
            padding: 0.5em;
            font-size: 1.5em;
            font-weight: 700;
            line-height: 1.40em;

            @include mobile {
                font-size: 1.15em;
            }

        }

        #sub-message {
            color: #9B97B3;
            font-size: 1em;
            font-weight: 400;
        }

    }

    .conversion-dropdown {
        margin-left: 5em;
        margin-right: 5em;
        padding-bottom: 2em;

        #dropdown-text {
            padding-bottom: 0.5em;
            color: #9B97B3;
        }

    }

    .main-graphics {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 0em;
        padding-bottom: 2em;

        img {

            @include mobile {
                width: 3em;

            }
            
        }

        h2 {
            font-size: 1.25em;
            font-weight: 600;
            font-family: "SFMono-Regular", monospace;
        }

        p {
            color: #958DB7;
            font-weight: 400;
            font-size: 1.25em 
        }

        .arrow {
            padding: 0em 1em;
        }

        .logo {
            padding-bottom: 0.5em;
        }
    }

    .secondary-text {

        .title {
            font-family: "SFMono-Regular", monospace;
            color: #A8A6A6;
            font-size: 1.25em;
            font-weight: 600;
            padding-bottom: 0.5em; 

        }

    }
}

.button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 2em;

    .convert {
        background-color: #5944EE;
        border-radius: 0.85em;
        color: white;
        font-size: 1em;
        font-weight: 500;
        padding: 1em 6em;

        @include mobile {
            padding: 0.75em 4em;
        }

    }
   

}
