@mixin mobile {
    @media (max-device-width: 450px) {
      @content;
    }
}

.main-card {
    max-width: 35em;
    margin: auto;
    padding-bottom: 1em;
    padding-top: 1em;

    a {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;

    }

    .card-header {
        padding: 0.5em;
        text-align: center;

        @include mobile {
            text-align: left;
        }

        p {
            color: #958DB7;
            font-weight: 400;
            font-size: 1em;
            letter-spacing: 0.02em;

        }

        h1 {
            font-size: 1.5em;
            font-weight: 600;
            letter-spacing: 0.02em;

        }
    }


    .options-container {
        margin: 1.5em 0;

        .item {
            display: flex;
            justify-content: flex-start;
            background-color: red;
            padding: 2em;
            margin: 1em auto;
            border-radius: 0.85em;
            box-shadow: 2px 0 20px #EFEFEF;
            color: white;
            font-weight: 200;
            min-height: 33%;

            @include mobile {
                padding: 1em 1em 0.5em 1em;

            }

            .logo {
                display: flex;
                align-items: center;
                margin-right: 3.5em;

                @include mobile {
                    margin-right: 1em;
                }

                img {
                    @include mobile {
                        padding-bottom: 0.75em;
                        width: 3em;

                    }
                }
            }

            .text {

                h2 {
                    font-size: 1em;
                    font-weight: 600;

                    @include mobile {
                        font-size: 0.85em;
                        margin-top: 0.75em;

                    }
                }

                p {
                    font-size: 1em;
                    font-weight: 400;

                    @include mobile {
                        font-size: 0.85em;

                    }
                }
            }
        }

        .item:hover {
            transform: scale(1.03);
            transition: scale 6s;

        }

        .metamask {
            background-image: linear-gradient(to bottom right,#FF9C3F, #F6D365);

        }

        .walletconnect {
            background-image: linear-gradient(to bottom right, rgba(255,255,255,1) 0%, rgba(199,199,199,1) 0%, rgba(217,217,217,1) 100%);
        }

        .ledger {
            background-image: linear-gradient(to bottom right,#8894FC, #BC75FF);

        }

        .trezor {
            background-image: linear-gradient(to bottom right,#EC8C69, #ED6EA0);

        }

        .exchange {
            background-color: #2B2654;
            display: none;

        }
    }

    .disclaimer {
        text-align: center;

        p {
            color: #ff0000b5;
        }
    }
}

