.dropdown-wrapper {
    position: relative;


    .dropdown-container {
        max-width: 100%;

        .menu {
            display: flex;
            flex-direction: column;
            z-index: 1000;
            position: absolute;
            min-width: inherit;
            width: 100%;
            box-shadow: none;
            
        }
    }
}